* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruluko', sans-serif;

}

main {
    background-color: #f1f3f6;
    height: 100vh;

    h5 {
        text-align: center;
        margin-top: 1.5% !important;
        font-size: 13px;
    }
}

.login {
    width: 535px;
    height: 600px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 50px -35px rgba(0, 0, 0, 0.4);

    h1 {
        text-align: center;
        padding: 20px !important;
        border-bottom: 1px solid #4c4d4d41;
        font-weight: 900;
    }

    h3 {
        text-align: center;
        font-size: 23px;
        padding-top: 15px !important;
    }

    input {
        border: none;
        outline: none;
        border: 1px solid #dce0e5;
        border-radius: 5px;
    }

    div {
        div {

            font-size: 12px;
        }
    }

}

.forget {
    input {
        width: 19px;
        height: 19px;
    }
    span{
        cursor: pointer;
    }

}

.acc {
    input {
        padding: 3% !important;
        background-color: #0d6efd;
        border-color: #0d6efd;
        border: none;
        border: 1px solid #0d6efd;
        border-radius: 5px;
        color: #fff;
        transition: 0.5s;

        &:hover {
            background-color: #095ddc;
            cursor: pointer;
        }

    }

    h2 {
        font-size: 18px;
        text-align: center;
        color: #696969;

        a {
            text-decoration: none;
        }
    }
}

.Language {
    font-size: 14px;

    select {
        border: none;
        outline: none;
        cursor: pointer;
    }
}